/* 详情页编辑器样式 */

.markdown-body.articleContent h1 {
  font-size: 25px;
}

/* 详情页目录样式 */

.toc h3 {
  font-size: 25px;
}

.toc ul {
  padding: 0;
}

.toc li {
  margin: 5px;
  outline: none;
}

.toc a:focus {
  outline: none;
}

.toc a:hover {
  color: red;
}

.toc a {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 18px;
  color: black;
  transition: all .3s;
}


/* 管理页样式 */

.mavonEditor.v-note-wrapper .v-note-op .v-left-item .op-icon {
  font-size: 15px;
}

.mavonEditor.v-note-wrapper .v-note-panel {
  flex-direction: row-reverse;
}

.mavonEditor .v-note-op {
  justify-content: space-between;
  flex-direction: row-reverse;
}

.mavonEditor.v-note-wrapper .v-note-op .v-left-item, .mavonEditor.v-note-wrapper .v-note-op .v-right-item {
  flex: none;
  padding: 0 5px;
}

.mavonEditor .v-note-show {
  border-right: 1px solid rgb(229, 229, 229);
}

/* 内容显示样式 */

.markdown-body.markdown-body code {
  padding: 2px;
  border-radius: 3px;
  color: #c7254e;
}

.markdown-body.markdown-body blockquote {
  padding: 5px;
  border-radius: 0 3px 3px 0;
  background-color: #eef0f4;
}