.upload-cover .el-upload-dragger {
  width: 340px;
  height: 130px;
}

.el-upload--picture-card {
  font-size: 12px;
  line-height: 20px;
  color: rgba(0, 0, 0, .5);
}

.el-icon-upload {
  margin-top: 55px;
}